# Ignorar arquivos de compilação do sistema
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# Ignorar diretórios de build
build/
bin/
CMakeFiles/
CMakeCache.txt
Makefile
CMakeLists.txt.user
CMakeLists.txt.install

# Ignorar arquivos específicos de IDEs
.vscode/
.idea/

# Ignorar arquivos temporários do sistema operacional
Thumbs.db
.DS_Store
*~

# Arquivos de logs de compilação
*.log
